<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Rigolote</title>
    <style>
        body {
            text-align: center;
            font-family: 'Comic Sans MS', cursive, sans-serif;
            background-color: #ffeecc;
            margin: 50px;
        }

        h1 {
            color: #ff3366;
        }

        p {
            color: #0099ff;
            font-size: 20px;
        }

        img {
            width: 300px;
            border-radius: 50%;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Bienvenue sur la page rigolote !</h1>
    <p>Vous êtes sur le chemin de la bonne humeur.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ76wlD1H3kj1zE1TrqbMPRMD5AeF7LekBdLlg6FEtHwQ&s" alt="Koukou">
</body>
</html>